*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: royalblue;
    text-align: center;
    color: white;
    height: 75px;
    padding: 20px 0;
}

.lista-cadastro{
    display: flex;
    margin: 5px auto;
    height: 30px;
    max-width: 900px;
}

.lista-cadastro input[type=text]{
    padding-left: 10px;
    margin-left: 5px;
    flex: 2;
}

.lista-cadastro input[type=number]{
    padding-left: 10px;
    margin-left: 5px;
    flex: 2;
}

.lista-cadastro input[type=submit]{
    margin: 0 5px;
    flex: 1;
    border-radius: 20px;
    background-color: royalblue;
    color: white;
    border: 0;
    padding: 0px 4px;
    font-weight: bolder;
    font-size: 14px;  
    cursor: pointer;
    transition: 0.3s;
}

.lista-cadastro input[type=submit]:hover{
    background-color: rgb(47, 81, 180); 
}

.lista-single{
    display: flex;
    margin: 5px auto;
    height: 30px;
    max-width: 900px;
}

.item{
    border: solid 1px grey;
    border-radius: 2px;
    margin-left: 5px;
    text-align: center;
    padding: 3px 0;
    flex: 4;
}

.preco {
    background-color: royalblue;
    color: white;
    border: 0;
    padding: 6px 0;
    border-radius: 20px;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;  
    flex: 1;
}

.soma-produto{
    height: 30px;
    margin: 5px auto;
    display: flex;
    max-width: 900px;
}

.total-nome{
    border-top: solid 1px grey;
    border-radius: 2px;
    margin-left: 5px;
    text-align: center;
    padding: 3px 0;
    flex: 4;
}

.total-valor{
    background-color: royalblue;
    color: white;
    border: 0;
    padding: 6px 0;
    border-radius: 20px;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;  
    flex: 1;
}

.limpar{
    display: flex;
    margin: 5px auto;
    height: 30px;
    max-width: 900px;
}

.btLimpar{
    background-color: royalblue;
    color: white;
    border: 0;
    padding: 6px 0;
    border-radius: 20px;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;  
    flex: 1;
    cursor: pointer;
    transition: 0.3s;
}

.btLimpar:hover{
    background-color: rgb(47, 81, 180);
}